<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dshboard Page</title>
    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>
      Welcome to the Dashboard, <% if(typeof user != 'undefined') %> <%= user %>
      <% if(typeof info != 'undefined') %> <%= info %>
    </h1>

    <p></p>
  </body>
</html>
