<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Redirect Login Page</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        background: #f6f7f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        text-align: center;
      }
      .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 500px;
        max-width: 100%;
        min-height: 480px;
      }
      form {
        height: 100%;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 50px;
      }
      .text-box input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 15px 0;
        width: 100%;
        border-radius: 10px;
      }
      .btn {
        background: #ff4b2b;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #ff4b2b;
        padding: 12px 45px;
        border-radius: 20px;
        outline: none;
        margin: 20px 0;
        transform: transform 100ms ease-in;
      }
      .btn:active {
        transform: scale(0.95);
      }
      i .fa {
        display: inline;
      }
      span {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 id="login">Register</h1>
      <span><%= error %></span>
      <form class="register" method="POST" action="/api/user/register">
        <div class="text-box">
          <input
            type="text"
            placeholder="First Name"
            name="first_name"
            required
          />
        </div>
        <div class="text-box">
          <input
            type="text"
            placeholder="Last Name"
            name="last_name"
            required
          />
        </div>
        <div class="text-box">
          <input
            type="text"
            placeholder="Choose a username"
            name="username"
            required
          />
        </div>
        <div class="text-box">
          <input
            type="email"
            placeholder="Email Address"
            name="email"
            required
          />
        </div>
        <div class="text-box">
          <input
            type="text"
            placeholder="Phone Number"
            name="phone_number"
            required
          />
        </div>
        <div class="text-box">
          <input
            type="password"
            placeholder="password"
            name="password"
            required
          />
        </div>
        <div class="text-box">
          <input
            type="password"
            placeholder="Password again"
            name="confirm_password"
          />
        </div>
        <div>
          <input type="checkbox" name="terms" id="terms" required />
          <label for="terms" class="terms"
            >Terms of service <span>*</span></label
          >
        </div>
        <input type="submit" class="btn" value="Sign up" id="btn-login" />
      </form>
    </div>
  </body>
</html>
